<div class="container">
  <div class="row">
    <div >
      <%= link_to "Ajouter Game", new_game_path, class: "btn btn-success col-md-5" %>
      <%= link_to "consulter les bookings", bookings_path, class: "btn btn-success col-md-5" %>
    </div>
  </div>


  <div class="row">
    <% @games.each do |game| %>
      <div class="col-md-3">
        <div class="card mt-3" style="width: 18rem;">
          <%= cl_image_tag(game.photo.key, width: 400, height: 300, crop: :fit, class: "card-img-top game-image") %>
          <div class="card-body">
            <h5 class="card-title"><%= game.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and
              make up the bulk of the card's content.
            </p>

            <%= link_to "Détails", game_path(game), class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    <%end %>
  </div>

  <br/>



</div>


<style>
  .game-image {
    width: 287px;
    height: 200px;
    object-fit: fit; /* ou `object-fit: contain;` selon le rendu souhaité */
  }
</style>
