<h2>Detail du Jeu </h2>

<p>Nom : <%= @game.name %></p>
<p>Prix : <%= @game.price %></p>
<p>Plateforme : <%= @game.platform %></p>

<p> <%= link_to "Retour à l'Accueil", root_path %></p>
<br/>


<p><%= link_to "Edit",
  edit_game_path(id: @game)
%></p>

<br/>

<%= link_to "Delete",
  destroy_game_path(id: @game),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
